<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <%- include('partials/headlinks') %>
</head>
<body>
    <div class="px-sm-5 py-3 px-2">
        <div class=" text-center">
            <p class="color1 about-title fs-2 fw-semibold p-2 float-none">Registered Users</p>
        </div>
        <div>
            
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <ol>

                        <% waitlists.forEach(waitlist =>{ %>
                            <li>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= waitlist.id %>" aria-expanded="false" aria-controls="<%= waitlist.id %>">
                                            <span class="fw-bold ">Name: <span class="color1"> <%= waitlist.name %></span></span>
                                        </button>
                                    </h2>
                                    <div id="<%= waitlist.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <p>Email: <span class="color1"><%= waitlist.email %></span> </p>
                                            <p>Phone Number: <span class="color1"><%= waitlist.phone %></span> </p>
                                            <p>Gender: <span class="color1"><%= waitlist.gender %></span> </p>
                                            <p>Category: <span class="color1"><%= waitlist.category %></span> </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    </ol>
                </div>                
            
        </div>
    </div>
</body>
</html>